<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        text-align: center;
        }
    form {
        width: 80%;
        margin: 10px auto;
    }
    textarea {
        width: 400px;
        margin-top: 40px;
    }
    button {
        font-size: 15px;
        margin-top: 10px;
        width: 150px;
        letter-spacing: 3px;
        padding: 3px;
    }
</style>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>New Planet</h1>

    <form action="/planets" method="POST">

    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />

    <label for="isHabitable">Habitable</label>
    <input type="checkbox" name="isHabitable" id="isHabitable" />

    <label for="color">Color:</label>
    <input type="text" name="color" id="color" />
        <br>
    <label for="image">Image Source:</label>
    <input type="text" name="image" id="image" /><br>

    <label for="description">Description:</label>
    <textarea name="description" id="description" rows="10" columns="100"></textarea>
        <br>
    <button type="submit">CREATE</button>
    </form>

</body>
</html>